

<div class="surface-overlay py-3 px-6 shadow-2 flex align-items-center justify-content-between relative lg:static"
  style="min-height: 80px;"><img src="assets/images/OllaRoja.svg" alt="Image" height="40" routerLink="/"
    class="mr-0 lg:mr-6"><a pripple="" pstyleclass="@next" enterclass="hidden" leavetoclass="hidden"
    class="p-ripple p-element cursor-pointer block lg:hidden text-700"></a>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input [(ngModel)]="inputValue" type="text" pInputText placeholder="Buscar" [formControl]="searchInput" (blur)="clearInput()"
        (input)="searchRestaurants()" 
        [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectedOption( $event )">
          <mat-option *ngFor="let rest of restaurants" [value]="rest" routerLink="{{rest.id}}">
            {{rest.restauratName}}
          </mat-option>
          <mat-option *ngIf="restaurants.length === 0 && searchInput.value && searchInput.value.length > 0">
            No se encontro ningun restaurante con el nombre {{searchInput.value}}
          </mat-option>
        </mat-autocomplete>    </span> 
</div>
<div class="container">
    <router-outlet></router-outlet>

  </div>

 